@use "sass:map";
@import "style/pages/theme";

.header_login {
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }
    li {
        display: inline-block;
        margin-right: 10px;
    }
}
.header_menu {
    padding: 24px 0 ;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            text-decoration: none;
            font-size: 14px;
            color: map.get($theme-colors,"bold-text");
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 2px;
            transition: all 0.3s;
            padding: 5px 0;
            display: block;
        }

        .active a {
            color: map.get($theme-colors,"text-hold");

        }

    }
}